<br/>
<div class="text-center border border-light p-5 badge-light">
  <h2>Log in</h2><br/>
  <div class="d-flex justify-content-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email',  class: 'form-control' %>
      </div>

      <div class="field" style="padding-bottom: 0.5rem;">
        <br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password',  class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-info my-4 btn-block' %>
      </div>
    <% end %>
  </div>
  <hr>
  <%= render "users/shared/links" %>
</div>
