<div id="message_holder">
<% @postmessages.each do |item| %>
  <div class="row">
  <p>
      <%= item.sender_id %> :
  </p>
  <p>
      <%= item.content %>
  </p>
  </div>
  <% end %>
</div>
<%= form_for @postmessage,remote: true do |f|%>
<%= f.hidden_field :chat_id, :value => params[:postid]%>
<%= f.text_field :content%>
<%= f.hidden_field :sender_id, :value => current_user.user_id%>
<%= f.submit%>
<%end%>
