
<div class="user">
    <p>
      <%= if @userbyemail.try(:email)%>
      <strong><%=@userbyemail.try(:email)  %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => @userbyemail), :method => :post %>
      <%= else %>
      <strong>No user found ...</strong>
      <%= end %>
      <div class="clear"></div>
    </p>


  </div>
